.logo_place_footer {
    background-image: url('../../../images/logo_white.png');
    width: 183px;
    height: 35px;
    flex-basis: 711px;
}

/* .logo_place_footer:hover {
    opacity: .2;
    transition: 1s linear;
} */