.feynman__link {
    position: absolute;
    top: 50%; 
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
}
.feynman__link:hover {
    opacity: 50%;
    /* animation: rotation 20s linear infinite; */
    transition: 3s ease-in-out; 
}