.footer__column-links {
    list-style-type: none;
    margin: 20px 0 16px 0; 
    padding-left: 0; 
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}

.footer__column-link:hover {
    opacity: .2;
    transition: 1s linear;
}