.root {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* For Testing */
div, ul, img, h1, h2, h3, h4 {
    border: 1px solid red;
}

section, li, p {
    border: 1px solid blue;
}

/* Styles for the header section */

/* Styles for the description section */

/* Styles for the techniques section */

/* Styles for the video section */

/* Styles for the oakley section */

/* Styles for the feynman section */

/* Styles for the digits section */

/* Styles for the khan section */

/* Styles for the kaufman section */

 /* Styles for the resources section */
  
/* Styles for the footer section */
