@import url(./__columns/footer__columns.css);
@import url(./__author/footer__author.css);
@import url(./__column/footer__column-heading.css);
@import url(./__column/footer__column-links.css);
@import url(./__column/footer__column_content_copyright.css);
@import url(./__column/footer__column.css);
@import url(./__soicial-icon/footer__soicial-icon.css);

.footer {
    min-height: 350px;
    background-color: #1F1F1F;
    color:#F2F2F2;
    display: flex;
}

/* .logo_place_footer {
    background-image: url('../../images/logo_white.png');
    width: 183px;
    height: 35px;
    flex-basis: 711px;
} */

/* .footer__column-social_heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
} */